
.menu-nav ul {
    display: flex;
    /* flex: 1; */
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(122, 118, 118); */
    height: 40px;
    list-style: none;
    z-index: 1;
}


.menu-nav{
    justify-content: space-around;
    display:flex;
    width: 100%;
    z-index: 1;
}
.menu a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.avent{
    background-image: url(../imagenes/aventuras/paseos.jpg);
}
header{
    background-image: url(../imagenes/generales/acceso1.jpg);
    position: fixed;
     display: flex;
     flex:1;
     z-index: 5;
   /* background-repeat: repeat; */
   /* height: 200px ; */
   width: 100%;
   
  
}
.fotom{
    height: 150px;
    border-radius: 25%;

}
.fotofon{
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
}
.menudeest{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.titulo2{
    align-self: center;
    color: rgb(255, 3, 3);
}
.menu{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.back{
height: 100%;
width: 100%;
position: absolute;
z-index: -1;

}
.titulo3{
    text-align: center;
    flex: 1;
    display: flex;
    z-index: 1;
    align-self: center;
    color: rgb(12, 28, 243);
}
.texto1{
    padding: 10px;
    color: rgb(211, 247, 6);
    display: flex;
    flex: 1;
    z-index: 1;
    

}
.fauna{
    justify-content: space-around;
    background-image:url( "../imagenes/aventuras/paseos.jpg" );
    display:flex;
    width: 100%;
    z-index: 1;

}
main{
    border-top: 250px;
    padding-top: 100px;
    position: relative;
}
.fotobak{
    display: flex;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}
.row{
    
    margin: 50px;
    z-index: 1;
  
    display: flex;
    position: flex;
}
.fotoscar{
display: flex;


}
.caja1{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.aventura .caja1{
    position: relative;
    padding: 20px;
    overflow: hidden;
}
.mallafotos{
    position: relative;
    /* display: flex; */
    inset: 0;
    z-index: 2;
}
.container-img{
    min-width: 50%;
}
.contener div {
    position: relative;
    display: flex;
    flex: 1;
    flex-wrap: wrap;

}
.contener div .container-img{
    width: min-content;

}
.contener div .container-img img{
    width: 100%;
}
@media(width>=1000px){
    .container-img{
        min-width: 25%;
    }
}
.titulosuplente{
    text-align: center;
    flex: 1;
    display: flex;
    z-index: 1;
   align-self: center;
    color: rgb(12, 243, 12);
}
.col{
    justify-items:auto
}
.alojamientos{
    background-image: url(../imagenes/hoteles/habitaciondoble1);
    background-position: center;
    background-size: cover;

}
.textoal{
    text-decoration: none;
    color: black;
    
}
.boton{
    display: flex;
    text-align: center;
    align-items: center;
    /* background-color: rgb(107, 114, 114); */
    border: 2px;
    /* border-color: black; */
    flex: 1;
    position: sticky;
    /* position: relative; */
    text-decoration: red;
    
    z-index: 2;
}
.escrito{
    position: relative;
    flex: 1;
    z-index: 1;
}
footer{
    background-color: dimgray;
    
}
.final{
    text-align: center;
    flex: 1;
    display: flex;
    z-index: 1;
    align-self: center;
    color: rgb(12, 28, 243);
}
.textof{
    text-align: center;
    flex: 1;
    display: flex;
    z-index: 1;
    align-self: center;
  
    position: relative;
    

}
.generalaloja1{
   background-image: url(../imagenes/recorridos/historia.jpg);
    position: relative;
    background-position: center;
    background-size: cover;
    border-image-width: 100% ;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tarjetas1{
    background-image: url(../imagenes/recorridos/historia.jpg);
}
.tarjetas2{
    background-color: dimgray;
}
